@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2&family=Bodoni+Moda:ital,opsz@1,6..96&family=Monoton&family=Montserrat:wght@100&family=PT+Sans+Narrow&family=Roboto:wght@300&family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-color: rgb(180, 120, 200);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
